* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        background-image: url(../img/kick-skin.png);
        background-repeat: space;
        /*background-repeat: no-repeat;*/
        background-size: 35%;
        background-position: 0 220px;
        background-attachment: fixed;
        background-blend-mode: color-burn;
        background-color: #225569;
}

.title {
        position: relative;
        padding: 3px;
        background: linear-gradient(to right, #0060ce, #0060ce, #0ba5d8);
        color: maroon;
        text-shadow: 0px 2px 2px #fff;
        text-align: center;
        font-family: cursive;
        font-weight: bold;
        font-size: 40pt;
        transition: all 0.2s ease;
        -webkit-transition-timing-function: cubic-bezier(0.2,1,0.5,1);
        transition-timing-function: cubic-bezier(0.2,1,0.5,1);
}

.mp-box {
        margin: 10px;
        padding: 10px;
        position: absolute;
        display: block;
        width: 26%;
        height: 140px;
        box-shadow: 2px 4px 3px #0ba5d8;
        border-radius: 5px;
        background: linear-gradient(to right, #62E800, #62E800, green);
        overflow: hidden;
        z-index: 3;
        transition: all 0.5s;
        -webkit-transition-timing-function: cubic-bezier(0.5,0.5,0.5,1.5);
        transition-timing-function: cubic-bezier(0.5,0.5,0.5,1.5);
}

.mp-box:hover {
        height: 450px;
        transform-style: preserve-3d;
}

.mp-title {
        width: 100%;
        padding: 5px;
        border: 2px solid maroon;
        background: #DFFEDE;
        margin-top: 5px;
        border-radius: 5px;
}

.mp3-file {
        font-family: cooper;
        color: green;
        width: 100%;
        padding: 2px;
        text-align: center;
        cursor: pointer;
        border: 2px solid maroon;
        border-radius: 5px;
}

.mp3-file:active{
        color: navy;
}

.mp-audio {
        width: 100%;
}

.mp-box .mp-audio {
        border-radius: 50px;
        border: 2px solid maroon;
        outline: none;
        margin-top: 10px;
        height: 25px;
}

.drum-help {
        padding: 10px;
        width: 100%;
        margin-top: 30px;
        background: #EFF;
        font-size: 11pt;
        font-family: verdana, sans-serif;
        list-style: none;
        border-radius: 10px;
        border: 2px solid maroon;
}

.container {
        /*background: rgb(0, 0, 0, 0.5);*/
        width: 100%;
        margin-top: 3%;
        display: block;
        position: absolute;
        align-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
}

.s-icon {
        width: 60px;
        border-radius: 50px;
        position: absolute;
        margin-left: 23%;
        margin-top: 30%;
        font-size: 50pt;
        font-weight: bold;
        font-family: verdana;
        color: rgb(3, 223, 237, 0.7);
}

/* ------- DRUM SET -------- */
#drum-ring {
        user-select: none;
/*      transition: all 0.05s;
        -webkit-transition-timing-function: cubic-bezier(0.3,1,0.3,1);
        transition-timing-function: cubic-bezier(0.3,1,0.3,1);*/
        border-radius: 50%;
        cursor: pointer;
}

.kick {
        padding: 10px 0px;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 270px;
        /*background: cyan;*/
}

.kick1, .kick2 {
        width: 230px;
        height: 230px;
        margin-top: 80px;
        margin-left: 10px;
}

.k-snare {
        position: absolute;
        margin-left: 5px;
        width: 180px;
        height: 180px;
}

.tom1, .tom2, .tom3 {
        position: absolute;
        z-index: 1;
}
.tom1 {
        margin-top: -50px;
        left: 37%;
        width: 130px;
        height: 130px;
}

.tom2 {
        margin-left: 1%;
        margin-top: -120px;
        width: 160px;
        height: 160px;
}

.tom3 {
        margin-top: 70px;
        margin-left: 45%;
        width: 200px;
        height: 200px;
}

.crash {
        /*margin-left: 370px;*/
        margin-left : 27%;
        /*margin-top: -100px;*/
        display: flex;
        position: relative;
        z-index: 2;
}

.hh-close, .hh-close-right, .crash1, .crash2, .crash3 , .splash{
        position: absolute;
}

.hh-close, .hh-close-right {
        width: 150px;
        height: 150px;
}
.hh-close {
        margin-left: 1%;
        margin-top: 260px;
}

.hh-close-right {
        margin-top: 230px;
        margin-left: 38%;
}

.crash1 {
        z-index: 1;
        margin-left: 2%;
        margin-top: 130px;
        width: 170px;
        height: 170px;
}

.splash {
        margin-top: 130px;
        margin-left: 17%;
        width: 130px;
        height: 130px;
}

.crash2 {
        z-index: 2;
        margin-top: 60px;
        margin-left: 36%;
        width: 180px;
        height: 180px;
}

.crash3 {
        margin-left: 50%;
        margin-top: 160px;
        width: 200px;
        height: 200px;
}

/* ANIMATION ZOOM */
.playing {
        -webkit-transform : scale(1.03);
        transform: scale(1.03);
        box-shadow: 0px 1px 9px #1C1C1C;
}

@media screen and (max-width: 1020px){

}
